<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome page</title>
	<style>
		* {
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Poppins', sans-serif;
}

header {
	background: linear-gradient(rgba(0, 0, 0, 0.75));
	height: 100vh;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	position: relative;
}
.welcome-text {
	position: absolute;
	width: 40%;
	height: 50%;
	margin: 20% 30%;
	text-align: center;
}
.welcome-text h1 {
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	font-size: 60px;
}
.welcome-text h1 span {
	color: #00fecb;
}
.welcome-text a {
	border: 1px solid rgba(0, 0, 0, 0.75);
	padding: 10px 25px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	margin-top: 20px;
	display: inline-block;
	color: rgba(0, 0, 0, 0.8);
}
a:hover {
	background-color: #00fecb;
  }

  /*resposive*/

@media (max-width:600px) {
	
	.welcome-text {
		
		height: auto;
		margin: 20% 0;
	}
	.welcome-text h1 {
		font-size: 30px;
	}
}
</style>
</head>
<body>
    <header>
<div class="welcome-text">
        <h1><span>Телефонен указател</span></h1>
<a href="/contact/list">Към контактите</a>
    </div>
</header>

</body>
</html>
